{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>{{user.profile.last_activity}}</h1>
    {% if user.profile.is_online %}
        <span style='color:green'>online</span>
        {% else %}
        <span style='color:gray'>last seen {{user.profile.last_seen}}</span>

    {% endif %}

    {% for onlineUser in onlineUsers %}
        <h2>{{onlineUser.user}}</h2>
    {% endfor %}
    <br>
    <img src='{% static "media/img.jpg" %}' width='200'> 


It is {% now "jS F Y H:i" %}
    {{users | length}}
    {% for user in users %}
    {% if user.name == 'Ram' %}
        <h2> USER IS RAM </h2>
    {% else %}
        <h2> USER IS NOT RAM </h2>

    {% endif %}

    <h1 style='color: {% if user.name == "Ram" %} red {% else %} green {% endif %}'>Hello, {{ user.name}}</h1>
    <h1>Hello, {{ user.phone}}</h1>
    {% endfor %}
    <h1>Hello, {{ users.1.name | upper}}</h1>
    <h1>Hello, {{ users.0.phone}}</h1>
    <h1>Hello, {{ status}}</h1>
    <h1>Hello, {{ skills}}</h1>
    {% for i in skills %}
    <h2>{{i}}</h2>
    {% endfor %}

    <a href="/sum/2/4/tanu">ram </a><br />
    <a href="/sum/2/4/tanu">sham </a><br />
    <a href="/sum/2/4/tanu">rahul </a><br />

    <a href="/sum/2/4/tanu">Add the Numbers </a>
    <a href="{% url 'add' num1=3 num2=4 name=users.1.name %}"
      >Add the Numbers
    </a>


{% endblock content %}