{% extends "base1.html" %} {% block PageCss %}
<style media="screen">
  * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    color: #414b56;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #d7dfe2;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 350px;
    margin: 1rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #d7dfe2;
  }

  .banner-img {
    position: absolute;
    object-fit: cover;
    height: 14rem;
    width: 100%;
  }

  .category-tag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background: red;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
  }

  .popular {
    background: #ef257a;
  }

  .technology {
    background: #651fff;
  }

  .psychology {
    background: #e85808;
  }

  .card-body {
    margin: 15rem 1rem 1rem 1rem;
  }

  .blog-hashtag {
    font-size: 0.9rem;
    font-weight: 500;
    color: #4d97b2;
  }

  .blog-title {
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem;
  }

  .blog-description {
    color: #616b74;
    font-size: 0.9rem;
  }

  .card-profile {
    display: flex;
    margin-top: 2rem;
    align-items: center;
  }

  .profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }

  .card-profile-info {
    margin-left: 1rem;
  }

  .profile-name {
    font-size: 1rem;
  }

  .profile-followers {
    color: #616b74;
    font-size: 0.9rem;
  }
</style>
{% endblock PageCss %} {% block content %}
  <div >
    <a href='?' class='btn btn-primary'>All</a>

    {% for cats in allcats %}
    
    <a class='btn btn-primary' href='?category={{cats.name}}'>{{cats.name}}</a>
    {% endfor %}
  </div>
<div class="wrapper">

  <br>
  {% for blog in blogs %}
 
  <div class="card">
    <div class="card-banner">
      <p class="category-tag popular">{{blog.category.name}}</p>

      <img
        class="banner-img"
        src="
        {% if blog.image %}
        {{blog.image.url}}
        {% else %}
        https://images.pexels.com/photos/33410908/pexels-photo-33410908.jpeg
        {% endif %}
        "
        alt=""
      />
    </div>
    <div class="card-body">
        
      <p class="blog-hashtag">{% for t in blog.tags.all %}#{{t}} {% endfor %}</p>
      <a href="{% url "blogSingle" id=blog.id bname=blog.title|slugify %}"><h2 class="blog-title">{{blog.title}}</h2> </a>
      <p class="blog-description">
        {{blog.desc | truncatewords:20}}
      </p>

      <div class="card-profile">
        <img
          class="profile-img"
          src="{% if blog.author.profilePic %}{{blog.author.profilePic.url}}{% endif %}"
          alt=""
        />
        <div class="card-profile-info">
          <h3 class="profile-name">{{blog.author.user.first_name}}</h3>
          <p class="profile-followers">{{blog.author.user.email}}</p>
        </div>
      </div>
    </div>
  </div>
 
 {% endfor %}

  
</div>
{% endblock content %}
